.sign-up
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  margin-left: 100px; /* Added margin */
  margin-right: 100px; /* Added margin */
}

.loginPic {
  max-width: 100%;
  width: 500px; 
}


.signupText {
  margin-left: 50px;
}

.signup-title {
  font-size: 3rem;
 }

.btn-signup
{
  padding: 10px 20px;
margin: 0; 
font-size: 1em;
background-color: rgb(26, 42, 65, 0.9);

border-radius: 19px;
width:150px;
cursor: pointer;
transition: background-color 0.3s ease;
margin-top: 20px;
color:white;
margin-bottom: 9px;
}

.error-message {
  color: red;
  font-size: 0.8rem;
  margin-top: 4px;
}

.btn-signup:hover {
  background-color: rgba(0, 123, 255, 0.8); 
}

.input-field {
  width: 300px;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 15px;
  margin-bottom: 8px;
}

@media (max-width: 768px) {
  .sign-up{
    flex-direction: column;
 /* Adjusted margin for smaller screens */
   margin-left: 20px; 
   margin-right: 20px; 

  
  }

  .signupText {
    /* padding: 10px; */
    text-align: center;
    margin-left: 5px ;
  }
}